[Desktop Entry]
Name=CPU Monitor Docklet
Exec=cpu-monitor-docklet
Terminal=false
Type=Application
Icon=cpuinfo
Categories=System;
Actions=AboutDialog;CloseAction;

[Desktop Action AboutDialog]
Exec=cpu-monitor-docklet --about
Name=About CPU Monitor

[Desktop Action CloseAction]
Exec=cpu-monitor-docklet --close
Name=Close
